@font-face {
    font-family: BlakaHollow;
    src: url(fonts/BlakaHollow-Regular.ttf);
}

body {
    margin: 0;
    font-family: BlakaHollow;
    background: linear-gradient(to bottom right, rgb(228, 148, 0), rgb(231, 104, 58), rgb(197, 43, 112), rgb(154, 35, 181), rgb(67, 17, 159));   
}

button {
    font-family: BlakaHollow;
    font-size: 28px;
    color: rgb(147, 255, 225);
    background-color: rgba(0, 221, 255, 0);
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}

button:hover {
    opacity: .7;
    background-color: rgb(103, 4, 134);
}

#btn-slider:hover {
    opacity: 1;
    background-color: rgba(104, 4, 134, 0);
}

#btn-color-picker:hover {
    opacity: 1;
    background-color: rgba(104, 4, 134, 0);
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 15px;
    color: rgb(147, 255, 225);
}

.main {
    display: flex;
    justify-content: space-evenly;
    height: 97vh;
    margin: 0px auto;
    border: 0px rgb(255, 80, 109) dotted;
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding-bottom: 80px;
    color:rgb(97, 4, 75);
}

.options {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: rgb(147, 255, 225);
    padding: 10px;
}

.title {
    display: flex;
    font-size: 70px;
    color: rgb(147, 255, 225);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 100px;
}

.grid-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 3px rgba(255, 12, 109, 0.9) groove;
    background: linear-gradient(to bottom right, rgb(231, 104, 58), rgb(197, 43, 112), rgb(154, 35, 181), rgb(67, 17, 159));
}

#grid-container {
    display: grid;
    height: 600px;
    width: 600px;
    max-width: 600px;
    max-height: 600px;
    gap: 0px;
}

.grid-boxes {
    box-sizing: border-box;
    background-color: white;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-style: solid;
    border-color: rgba(47, 47, 47, 0.106);
    border-width: 1px;
}

.grid-boxes:hover {
    opacity: .5;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3vh;
    color: white;
}