body {
    background-color: rgb(68, 34, 130);
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
}

.header {
    display: flex;
    background-color: blanchedalmond;
    font-size: 30px;
}

.grid-content {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(255, 80, 109);
    color: rgb(0, 255, 242);
}

#grid-container {
    display: grid;
    height: 460px;
    width: 460px;
    max-width: 460px;
    max-height: 460px;
    column-gap: 0px;
    row-gap: 0px;
}

.grid-boxes {
    box-sizing: border-box;
    background-color: white;
    border-style: solid;
    border-color: rgb(165, 165, 165);
    border-width: 1px;
}